<ul id="sidenav-left" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
  <!--Ponen nombre de usuario -->
  <li><a class="logo-container">Administración<i class="material-icons left">spa</i></a></li>
  <!-- Modal Structure -->
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold waves-effect active"><a class="collapsible-header modal-trigger" href="#modal1"
          tabindex="0">Agregar maquina<i class="material-icons left">add_circle</i></a>
      </li>
      @if (listmaquina.length > 0) {
      @for (namemaquina of listmaquina; track $index){
      <li class="bold waves-effect "><a class="collapsible-header" tabindex="0"
        routerLink='/dashboard/maquina/{{namemaquina.id}}'>{{namemaquina.alias}}<i
            class="material-icons left">radio_button_unchecked</i></a>
        <!-- <li class="bold waves-effect " ><a class="collapsible-header" tabindex="0" >{{namemaquina.alias}}<i class="material-icons left">radio_button_unchecked</i></a> -->
        <div class="collapsible-body" style="display: block;">
          <ul>
            <li><a routerLink='/dashboard/maquina/{{namemaquina.id}}/producto'
                class="waves-effect">Productos<i class="material-icons">local_cafe</i></a></li>
            <li><a class="waves-effect">Configuracion<i
                  class="material-icons">settings</i></a></li>
          </ul>
        </div>

      </li>
      }
      }
    </ul>
  </li>
</ul>

