<ul id="sidenav-left" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
   <!--Ponen nombre de usuario -->
    <li><a href="/pages/admin-dashboard" class="logo-container">Admin<i class="material-icons left">spa</i></a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold waves-effect active"><a class="collapsible-header" tabindex="0">Agregar maquina<i class="material-icons left">add</i></a>
        </li>
        @if (listmaquina.length > 0) {
          @for (namemaquina of listmaquina; track $index){
            <li class="bold waves-effect " ><a class="collapsible-header" tabindex="0" href='/maquina/{{namemaquina.id}}'>{{namemaquina.alias}}<i class="material-icons left">radio_button_unchecked</i></a>
              <!-- <li class="bold waves-effect " ><a class="collapsible-header" tabindex="0" >{{namemaquina.alias}}<i class="material-icons left">radio_button_unchecked</i></a> -->
            </li>
          }
        }
      </ul>
    </li>
  </ul>