element.style {
    transform: translateX(0px);
}
.sidenav.sidenav-fixed {
    left: 0;
    transform: translateX(0);
    position: fixed;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.sidenav {
    box-shadow: none;
    background-color: #448AFF;
}
.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateX(-105%);
}

main {
    flex: 1 0 auto;
}
figcaption, figure, main {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}