<header>
    <app-maquina></app-maquina>
    <app-topbar></app-topbar>
</header>

<main>
  <router-outlet />
</main>
<!--<mat-sidenav-container class="sidenav-container">
  <!- Sidebar - Maquinas ->
  <mat-sidenav mode="side" opened>
    <app-maquina></app-maquina>
  </mat-sidenav>

  <!- Main content area ->
  <mat-sidenav-content>
    <header>
      <app-topbar></app-topbar>
    </header>
    
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
-->