/* Responsive */

@container dcc (width >= 150px) and (width <= 500px) {
    .wallet-cart-grid:has(>.wallet-cart-button-container:nth-of-type(1)):not(:has(>.wallet-cart-button-container:nth-of-type(2))) {
        justify-content: start;
        flex-direction: column;
        margin: 0;
    }

    .wallet-cart-grid:has(>.wallet-cart-button-container:nth-of-type(1)):not(:has(>.wallet-cart-button-container:nth-of-type(2))) .wallet-cart-button-container {
        width: var(--wallet-button-width-vertical);
        height: var(--wallet-button-height-vertical);
        margin: var(--wallet-button-container-margin-vertical);
    }

    /* Añadir reglas para otros breakpoints si es necesario */
}

@container dcc (width <= 790px) {
    .wallet-cart-grid:has(>.wallet-cart-button-container) {
        justify-content: start;
        flex-direction: column;
        margin: 0;
    }

    .wallet-cart-button-container {
        width: var(--wallet-button-width-vertical);
        height: var(--wallet-button-height-vertical);
        margin: var(--wallet-button-container-margin-vertical);
    }
}

/* Layout */

@supports (not (container-type: inline-size)) or (not (selector(:has(*)))) {
    .wallet-cart-button-container:first-child,
    .wallet-cart-grid {
        margin-top: 8px;
        justify-content: start;
        flex-direction: column;
    }
}

#dynamic-checkout-cart {
    container-type: inline-size;
    container-name: dcc;
    width: 100%;
}

.wallet-cart-grid {
    margin: var(--wallet-grid-margin-horizontal);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: var(--shopify-accelerated-checkout-inline-alignment, start);
    gap: 0 !important;
}

.additional-checkout-buttons--vertical .wallet-cart-grid {
    flex-direction: column;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .wallet-cart-grid {
        max-width: none;
        margin: 0;
    }
}

@container dcc (width >=150px) and (width <=790px) {
    .wallet-cart-grid:has(>.wallet-cart-button-container) {
        .wallet-cart-button-container:first-child {
            margin-top: 8px;
        }
    }
}

/* Buttons */

.wallet-cart-grid {
    --wallet-button-height-horizontal: clamp(25px, var(--shopify-accelerated-checkout-button-inline-size, 42px), 55px);
    --wallet-button-height-vertical: clamp(25px, var(--shopify-accelerated-checkout-button-block-size, 54px), 55px);
    --wallet-button-width-horizontal: 150px;
    --wallet-button-width-vertical: 100%;
    --wallet-button-border-radius: var(--shopify-accelerated-checkout-button-border-radius, 4px);
}

.wallet-cart-button-container {
    position: relative;
    margin: var(--wallet-button-container-margin-horizontal);
}

.wallet-cart-button-container,
.wallet-cart-button {
    width: var(--wallet-button-width-horizontal);
    height: var(--wallet-button-height-horizontal);
    border-radius: var(--wallet-button-border-radius);
    list-style-type: none;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.additional-checkout-buttons--vertical .wallet-cart-button-container {
    width: var(--wallet-button-width-vertical);
    height: var(--wallet-button-height-vertical);
    margin: var(--wallet-button-container-margin-vertical);
}

.additional-checkout-buttons--horizontal .wallet-cart-button-container,
.additional-checkout-buttons--horizontal .wallet-cart-button {
    width: var(--wallet-button-width-horizontal);
    height: var(--wallet-button-height-horizontal);
    border-radius: var(--wallet-button-border-radius);
}

@media screen and (max-width: 750px) {
    .wallet-cart-grid .wallet-cart-button-container:first-child {
        margin-top: 8px;
    }
}

/* Animations */ 

@keyframes acceleratedCheckoutLoadingSkeleton {
    50% {
        opacity: var(--shopify-accelerated-checkout-skeleton-animation-opacity-start, 1);
    }
    75% {
        opacity: var(--shopify-accelerated-checkout-skeleton-animation-opacity-end, 0.5);
    }
    100% {
        opacity: var(--shopify-accelerated-checkout-skeleton-animation-opacity-start, 1);
    }
}

.wallet-cart-button__skeleton {
    animation: acceleratedCheckoutLoadingSkeleton var(--shopify-accelerated-checkout-skeleton-animation-duration, 4s) var(--shopify-accelerated-checkout-skeleton-animation-timing-function, ease) infinite;
    animation-delay: -0.168s;
    background-color: var(--shopify-accelerated-checkout-skeleton-background-color, #dedede);
    box-sizing: border-box;
    text-decoration: none !important;
}

/* Animación de renderizado para gráficos de Chart.js */
@-webkit-keyframes chartjs-render-animation {
    from {
        opacity: 0.99; /* Comienza casi invisible */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}

@keyframes chartjs-render-animation {
    from {
        opacity: 0.99; /* Comienza casi invisible */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}

/* Aplicar la animación de renderizado a elementos de Chart.js */
.chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.2s; /* Duración más notable */
    animation: chartjs-render-animation 0.2s; /* Duración más notable */
}
