/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables CSS para colores y tamaños */
:root {
    --primary-color: #2980b9; /* Color principal */
    --secondary-color: #27ae60; /* Color para incrementos */
    --warning-color: #c0392b; /* Color para decrementos */
    --background-color: #f4f4f4; /* Color de fondo */
    --card-background: #fff; /* Color de fondo de las tarjetas */
    --text-color: #333; /* Color del texto */
    --subtle-text-color: #555; /* Color del texto sutil */
    --font-family: 'Times New Roman', serif; /* Fuente */
}

/* Estilos del body */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Contenedor principal */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo de diseño de mampostería */
.masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo para encabezados */
.summary-title {
    font-size: 75px; /* Ajustar tamaño de fuente para el título */
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Estilo para las tarjetas */
.card {
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25); /* Sombra más pronunciada al pasar el mouse */
}

.card-stacked {
    padding: 15px;
}

.card-metric {
    margin-bottom: 15px;
}

.card-metric-title {
    font-size: 20px;
    font-weight: bold;
}

.card-metric-value {
    font-size: 24px;
    color: #2c3e50;
}

.card-metric-change {
    display: flex;
    align-items: center;
}

.card-metric-change.increase {
    color: var(--secondary-color);
}

.card-metric-change.decrease {
    color: var(--warning-color);
}

.card-chart {
    position: relative;
    height: 100px;
}

/* Estilo para la sección de ganancias y producto más vendido */
.card-metrics-toggle {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-metric.waves-effect {
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-metric.waves-effect:hover {
    background-color: #bdc3c7;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .masonry {
        flex-direction: column;
    }

    .summary-title {
        font-size: 36px; /* Ajustar tamaño de fuente en pantallas pequeñas */
    }

    .card-metric-value {
        font-size: 20px; /* Ajustar tamaño de valor en pantallas pequeñas */
    }
}